{% extends "base.html" %} 
{% block title %}URA Contacts{% endblock title %} 
{% block content %} 
      <div class="container">
        <table>
          <thead>
             <tr>
         <th> {{ object.business }}</th>
              </tr>
          </thead>
          <tbody><tr><td>
                  <p style = "margin: 0"><strong>Business Phone:</strong> {{ object.bus_phone }}</p>
                  <p style = "margin: 0"><strong>Contact:</strong> {{ object.contact }}</p>
                  <p style = "margin: 0"><strong>Contact Phone:</strong> {{ object.cont_phone }}</p>
                </td> </tr></tbody>

              </table>
                  <p></p>
      <button onclick="window.history.back()" style="background:none;border:none;cursor:pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
            Back
          </button>
            </div>
      {% endblock content %}