{% extends "base.html" %} 
{% block title %}URA Contacts{% endblock title %} 
{% block content %} 
      <div class="container">
         <h1>Contact List</h1>
         <table>
            <thead>
               <tr>
                  <th>Business</th>
               </tr>
            </thead>
            <tbody>
               {% for contact in object_list%}
               <tr>
                  <td><a href="{% url 'contact_detail' contact.pk %}" >{{ contact.business }}</a></td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
         <p></p>
         <button onclick="window.history.back()" style="background:none;border:none;cursor:pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
            Back
          </button>
      </div>
{% endblock content %}