   {% extends "base.html" %} 
   {% block title %}URA Operations{% endblock title %} 
   {% block content %} 
   {% if user.is_authenticated %}
   <div class="container">
      <div class = card-wrapper>
            <a href="{% url 'penwell_list' %}" class="card-link">
               <div class="card small-card">
                  <h3 class="card-title">Penwell Building</h3>
               </div></a>
            <a href="{% url 'residential_list' %}" class="card-link">
               <div class="card small-card">
                  <h3 class="card-title">Residential Properties</h3>
               </div>
            </a>
            <a href="{% url 'bill_list' %}" class="card-link">
               <div class="card small-card">
                  <h3 class="card-title">Bills</h3>
               </div>
            </a>
            <a href="{% url 'contact_list' %}" class="card-link">
               <div class="card small-card">
                  <h3 class="card-title">Contacts</h3>
               </div>
            </a>
            <a href="{% url 'maintenance_list' %}" class="card-link">
               <div class="card small-card">
                  <h3 class="card-title">Maintenance</h3>
               </div>
            </a>
            </div>
   </div>
<!-- Pending Maintenance Requests -->
<div class="container">
   <h1>Pending Maintenance Requests</h1>
   <table>
      <thead>
         <tr>
            <th>Urgency</th>
            <th>Property</th>
            <th>Date Reported</th>
            
            <th>Description</th>
         </tr>
      </thead>
      <tbody>
         {% for maintenance in object_list %}
           {% if maintenance.pending == True %}
            <tr>
               <td>{{ maintenance.urgency }}</td>
               <td><a href="{% url 'maintenance_detail' maintenance.pk %}">{{ maintenance.property }}</a></td>
               <td>{{ maintenance.date_reported|date:"Y-m-d" }}</td>
              
               <td>{{ maintenance.description }}</td>
            
            </tr>
            {% endif %}
         {% endfor %}
      </tbody>
   </table>
</div>
  
   {% else %}
               <div class="login-container">
                  <h2>URA Operations</h2>
               <p style = "text-align: center;">You are not logged in</p>
               <div style = "text-align: center;">
               <a href="{% url 'login' %}">Log In</a>
            |
               <a href="{% url 'signup' %}">Sign Up</a></div></div>
   {% endif %}
   {% endblock content %}

