{% extends "base.html" %} 
{% block title %}URA Maintenance{% endblock title %} 
{% block content %} 

<div class="container">
  <table>
    <thead>
       <tr>
   <th> {{ object.property }}</th>
        </tr>
    </thead>
    <tbody><tr><td>
            <p style = "margin: 0"><strong>Urgency:</strong> {{ object.urgency }}</p>
            <p style = "margin: 0"><strong>Date Reported:</strong> {{ object.date_reported }}</p>
            <p style = "margin: 0"><strong>Pending:</strong> {{ object.pending }}</p>
            <p style = "margin: 0"><strong>Description:</strong> {{ object.description }}</p>
          <p></p>
      <p style="margin: 0"><a href="{% url 'maintenance_edit' object.pk %}">Edit</a>&nbsp&nbsp&nbsp
         <a href="{% url 'maintenance_delete' object.pk %}">Delete</a>
         </p>
        </td> </tr></tbody>

      </table>
         <p></p>
         <a href="{% url 'maintenance_list' %}" >
          <button  style="background:none;border:none;cursor:pointer;">
             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
             </svg>
             Back
           </button></a>
      </div>
{% endblock content %} 
