{% extends "base.html" %} 
{% block title %}Penwell Properties{% endblock title %} 
{% block content %} 
      <!-- Pending Maintenance Requests -->
      <div class="container">
         
         <a href="{% url 'maintenance_new' %}"><button class = "maintenance-button">Submit Maintenance Request</button></a>
        <p></p> <h1>Pending Maintenance Requests</h1>
         <table>
            <thead>
               <tr>
                  <th style = "width: 20%">Urgency</th>
                  <th style = "width: 30%">Property</th>
                  <th style = "width: 50%">Description</th>
               </tr>
            </thead>
            <tbody>
               {% for maintenance in object_list %}
                 {% if maintenance.pending == True %}
                  <tr>
                     <td style = "width: 20%">{{ maintenance.urgency }}</td>
                     <td style = "width: 30%"><a href="{% url 'maintenance_detail' maintenance.pk %}">{{ maintenance.property }}</a></td>
                     <td style = "width: 50%">{{ maintenance.description }}</td>
                  
                  </tr>
                  {% endif %}
               {% endfor %}
            </tbody>
         </table>
      </div>

      <!-- Maintenance History -->
      <div class="container">
         <h1>Maintenance History</h1>
         <table>
            <thead>
               <tr>
                  <th style = "width: 20%">Urgency</th>
                  <th style = "width: 30%">Property</th>
                  <th style = "width: 50%">Description</th>
               </tr>
            </thead>
            <tbody>
               {% for maintenance in object_list %}
                   {% if maintenance.pending == False %}
                     <tr>
                        <td style = "width: 20%">{{ maintenance.urgency }}</td>
                        <td style = "width: 30%"><a href="{% url 'maintenance_detail' maintenance.pk %}">{{ maintenance.property }}</a></td>
                        <td style = "width: 50%">{{ maintenance.description }}</td>
                        
                     </tr>
                  {% endif %}
            
               {% endfor %}
            </tbody>
         </table>
         <p>     
         </p><a href="{% url 'home' %}" >
         <button  style="background:none;border:none;cursor:pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
            Back
          </button></a>
      </div>
      {% endblock content %}