{% extends "base.html" %} 
{% block title %}Penwell Properties{% endblock title %} 
{% block content %} 
      <div class="container">
        <table>
          <thead>
             <tr>
         <th> {% if object.apt_numb > 0 %}{{ object.apt_numb }}
          {% else %}{{ object.name }}{% endif %}
         </th>
              </tr>
          </thead>
          <tbody><tr><td>
         <p style = "margin: 0"><strong>Is Available:</strong> {{ object.is_available }}</p>
         <p style = "margin: 0"><strong>Tenant Name:</strong> {{ object.tenant_name }}</p>
         <p style = "margin: 0"><strong>Tenant Phone:</strong> {{ object.tenant_phone }}</p>
         <p style = "margin: 0"><strong>Street Address:</strong> {{ object.street_address }}</p>
         <p style = "margin: 0"><strong>City:</strong> {{ object.city }}</p>
         <p style = "margin: 0"><strong>State:</strong> {{ object.state }}</p>
         <p style = "margin: 0"><strong>Zip:</strong> {{ object.zip_code }}</p>
         <p style = "margin: 0"><strong>Bathrooms:</strong> {{ object.bathrooms }}</p>
         <p style = "margin: 0"><strong>Monthly Rent:</strong> {{ object.monthly_rent }}</p>
         <p style = "margin: 0"><strong>Notes:</strong> {{ object.notes }}</p>
        </td> </tr></tbody>

      </table><p></p>
         <button onclick="window.history.back()" style="background:none;border:none;cursor:pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
            Back
          </button>
      </div>
{% endblock content %}
